<div ng-if="!details">
  Loading results...
</div>

<span class="span-outer">
    <a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.Title }}</a>
</span>, {{ details.Year }}

  <p><strong>Snippet:</strong> {{ details.snippet }}</p>

  <p>{{ details.snippet }}</p>

  <!--<p class="outer-p">-->
  <!--  <div class="inner-p">-->
  <!--    <span class="label label-primary">Directors :</span> {{ details.Director }}-->
  <!--  </div>-->
  <!--  <div class="inner-p">-->
  <!--    <span class="label label-primary">Actors :</span> {{ details.Actors }}-->
  <!--  </div>-->
  <!--  <div class="inner-p">-->
  <!--    <span class="label label-primary">Genre :</span> {{ details.Genre }}-->
  <!--  </div>-->
  <!--</p>-->


</div>

<div ng-if="details.Response==='False'">
  No results found.
</div>